
.container,.inner{
    width: 200px;
    height: 200px;
}
.container{
    background-color: indianred;
    border: 3px solid blue;
    margin-bottom: 15px;
    margin-left: 50px;
}
.inner{
    background-color: gold;
    transform: scale(0.65) rotate(45deg);
    /*--transform: scale(.65); --*/
}